<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" style="height: 1px;">
        <ul class="nav navbar-nav">
          <li><a href="{{ path('ingetis_pages',{'id':'8','slug':'cursus'}) }}">CURSUS</a></li>
          <li><a href="{{ path('ingetis_pages',{'id':'13','slug':'cursus'}) }}">CANDIDATURES</a></li>
          <li><a href="{{ path('ingetis_pages',{'id':'28','slug':'cursus'}) }}">VIE ÉTUDIANTE</a></li>
          <li><a href="{{ path('ingetis_pages',{'id':'25','slug':'cursus'}) }}">RELATIONS ENTREPRISES</a></li>
          <li><a href="{{ path('ingetis_pages',{'id':'22','slug':'cursus'}) }}">V.A.E</a></li>
          <li><a href="{{ path('ingetis_pages',{'id':'5','slug':'cursus'}) }}">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>
